<html lang="en" ng-app="mineApp">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Minesweeper</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="site.css"/>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>

        <script src="/script/ng-right-click.js"></script>

        <!-- Your angularjs model-->
        <script src="model.js"></script>
    </head> 

    <body>
        <div class="container" ng-controller="mineController">
            <h1 class="jumbotron">Minesweeper</h1>

            <h2 class="warning" ng-show="messages.warning">{{messages.warning}}</h2>
            <h2 class="success" ng-show="messages.success">{{messages.success}}</h2>
            <h2 class="error" ng-show="messages.error">{{messages.error}}</h2>

            <table>
                <tbody>
                    <tr  ng-repeat="row in grid.rows">
                        <td ng-repeat="cell in row.cells"
                            class="jd-cell" 
                            ng-click="cellClicked(cell)"
                            ng-right-click="cellRightClicked(cell)"
                            ng-class="{
                                'jd-cell-open': cell.open, 
                                'jd-cell-exploded': cell.open && cell.mined,
                                'jd-cell-marked': cell.marked
                            }">
                            <div ng-show="cell.open && cell.mined == false">{{cell.numCloseMines}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="/home.html">Return to Birdmint</a>
        </div>
    </body>
</html>