body {
    background-image: url("cobblestone.jpg");
}

.gameZone {
    position: relative;
}

h1 {
    text-align: left;
    color: black;
}
p{
    width: 80px;
    font-size: 15px;
    color: black;
}

.countdown {
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.bomb {
    height: 50px;
    width: 50px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;  
}

.danger-zone {
    height: 250;
    width: 400;
    border: 5px dashed red;
    position: relative;
    
}

.explosion {
    height: 240px;
    width: 390px;
}

.master-dead-count-message {
    text-align: center;
}

#mission-accomplished {
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    top: 0px;
    left: -100px;
}

.master {
    height: 196px;
    width: 96px;
    position: absolute;
    z-index: -1;
    display: none;
}

.schoolboy {
    position: absolute;
    height: 175px;
    width: 190px;
}

.restart-button {
    position: absolute;
    top: 20px;
    left: 750px;
}

.gameZone {
    position: relative;
}

.back-button {
    margin: 50px;
    margin-left: 0px;
}