<html lang="en" ng-app="bombApp">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="bomb-site.css"/>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>

        <!-- Your angularjs model-->
        <script src="bomb-controller.js"></script>
    </head> 

    <body>
        <div class="container" ng-controller="bombController" ng-style="gameZoneRect">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-9">
                    <h1>Don't Blow Up the Master!</h1>                  
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button ng-click="startGame()" class="restart-button btn btn-default" ng-show="bombExploded">Restart</button>
                    <h2 class="master-dead-count-message" ng-show="mastersDeadMessage">{{mastersDeadMessage}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <h2 class="countdown">{{countdown}}</h2>
                    <p>Click the bomb to start countdown</p>
                </div>
                <div class="col-xs-9">
                    <div class="danger-zone" id="dangerZone">
                        <img src="bomb.png" class="bomb" ng-show="bombExploded == false && countdownStarted" id="bomb"/>
                        <img src="explosion.png" class="explosion" ng-show="bombExploded"/>
                        <img src="mission-accomplished.png" ng-show="masterDeadCount == 0" id="mission-accomplished"/>
                        
                        <img src="school-boy+bomb.png" class="schoolboy" ng-style="schoolBoyStyle" ng-show="countdownStarted == false" ng-click="startCountdown()" id="schoolBoyBomb"/>
                        <img src="school-boy.png" class="schoolboy" ng-style="schoolBoyStyle" ng-show="countdownStarted"/>
                    </div>
                </div>
            </div>

            <img src="master1.1.png" 
                ng-repeat="m in masters" 
                class="master" 
                ng-style="{top: m.getTop(), left: m.getLeft(), display: m.getVisible() ? 'block' : 'none'}"/>

            <img src="ambulance.png" ng-style="ambulanceStyle"/>
            <img src="master+boy.png" ng-style="masterBoyStyle"/>
        </div>
    </body>
</html>