<html lang="en" ng-app="opaApp">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="site.css"/>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>

        <!-- Your angularjs model-->
        <script src="/Opas-birthday/model.js"></script>
    </head> 

    <body>
        <div class="container" ng-controller="opaController">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-9">
                    <h1>Don't Blow Up the Master!</h1>                  
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="kitten-dead-count-message" ng-show="kittensDeadMessage">{{kittensDeadMessage}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <h2 class="countdown">{{countdown}}</h2>
                    <p>Click the bomb to start countdown</p>
                </div>
                <div class="col-xs-9">
                    <div class="danger-zone" id="dangerZone" ng-click="startCountdown()">
                        <img src="bomb.png" class="bomb" ng-show="bombExploded == false"/>
                        <img src="explosion.png" class="explosion" ng-show="bombExploded"/>
                        <img src="mission-accomplished.png" ng-show="kittenDeadCount == 0" id="mission-accomplished"/>
                    </div>
                </div>
            </div>
            
            <img src="kitten.png" ng-repeat="k in kittens" ng-style="k.style"/>
        </div>
    </body>
</html>