.warning {
    color : orange;
}
.success {
    color : green;
}
.error {
    color: red;
}

body {
    background-image: url("cobblestone.jpg");
}
h1 {
    text-align: center;
}
p{
    width: 80px;
    font-size: 15px;
    color: black;
}

.single-digit-countdown {
    font-size: 50px;
    color: black;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.double-digit-countdown {
    font-size: 50px;
    color: black;
}

#countdown-box {
    border: 10px solid black;
    height: 80px;
    width: 80px;
}

.bomb {
    height: 50px;
    width: 50px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

.danger-zone {
    height: 250;
    width: 400;
    border: 5px dashed red;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}