body {
    background-image: url("happy-birthday.jpg");
}

.present {
    height: 200px;
    width: 190;
    display: block;
}

h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 75px;
}

p {
    text-align: center;
    font-weight: bold;
}