<!doctype html>
<html lang="en" ng-app="mastermindApp">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mastermind</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
 
    <!-- Include your CSS here -->
    <style>
        .indicator, .guess, .peg {
            height: 20px;
            width:20px;
            margin: 5px;
            padding: 0px;
            border:1px solid black;
        }

        .separator {
            height: 20px;
            width: 20px;
            margin: 5px;
            padding: 1px;
            border: 0px;
        }

        .peg {
            float:left;
        }
        
        .selected {
            'background-color': c; 
            'border-width': 4px;
            height: 25px;
            width:25px;
        }

    </style>
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="mastermindController">
        <h1>Mastermind - {{gameState}}</h1>

        <div ng-show="gameState == 'won'">You Won!</div>
        <div ng-show="gameState == 'lost'">You Lost!</div>

        <div ng-show="gameState != 'playing'">
            <div class="peg" ng-repeat="peg in board.solutions" ng-style="{'background-color': peg.color}"></div>
        </div>
        
        <div>
            <div class="peg" 
                 ng-class="{selected: selected(c)}" 
                 ui-draggable="true" 
                 drag="c"
                 ng-style="{'background-color': c}"
                 ng-repeat="c in pegColors track by $index"
                 ng-click="colorClicked(c)">
            </div>
        </div>

        <!--<div>
            <h3>Current colour - </h3>
            <div class="peg" ng-style="{'background-color': currentColour}"></div>
        </div>-->

        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">Progress</th>
                    <th></th>
                    <th colspan="4">Guesses</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in board.rows">
                    <td ng-repeat="peg in r.indicators">
                        <div class="indicator" ng-style="{'background-color': peg.color}"></div>
                    </td>
                    <td><div class="separator"></div></td>
                    <td ng-repeat="peg in r.guessPegs">
                        <div class="guess" 
                            ui-on-drop="onDrop(peg, $data)" 
                            drop-validate="dropValidate(r)"
                            ui-draggable="true"
                            drag="peg.color" 
                            ng-style="{'background-color': peg.color}"
                            ng-click="pegClick(peg, r.active)"></div>
                    </td>
                    <td><button class="btn btn-xs btn-default checkButton"" ng-show="r.active" ng-disabled="unusedPegCount(r) != 0" ng-click="check($index)">check</button></td>
                </tr>
            </tbody>
        </table>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!-- Include your JavaScript files here -->

    <script src="draganddrop.js"></script>

    <script src="mastermind.js"></script>
</body>
</html>