<div class="jumbotron">
    <h1>On the tenth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-12 display-cell">
        <p>Turn your sound up</p>
        <audio controls>
            <source src="music/howls-moving-castle.mp3" type="audio/mpeg">
        </audio>
        <P style="margin-top: 30px;">This is a piece from another of Studio Ghibli's films "Howl's Moving Castle".</p>
        <img src="pictures/large/howls-moving-castle.jpg" class="float-left"/>
        <p>I played it on the piano and like it very much. 
           Howl's Moving Castle is one of my favourite films and I have also read the book it was based on.
           I have a whole book of piano music from different Studio Ghibli animes and am hoping to one day be able to play them all.
           You may hear more from this book as advent goes on.
        </p>
    </div>
</div>
<div class="row display-table">
    <div class="col-sm-12 display-cell">
        <img src="pictures/large/purple-eyed-boy.png" class="fullHeightImg"/>
    </div>
</div>