<div class="jumbotron">
    <h1>On the eleventh day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-6 display-cell">
        <p>This flower is one of the first of my drawings and was what got me into drawing.</p>
        <p>It was a card for someone and I thought a flower might be nice so I looked up a tutorial and followed it through.</p>
        <p>I started thinking about other things I could draw and looked up them as well. Before long I would draw all sorts of things.</p>
        <p>When I got good enough I would copy things in real life without needing step by step instructions.</p>
    </div>
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/flower.jpg" class="fullHeightImg"/>
    </div>
</div>