<div class="jumbotron">
    <h1>On the first day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row">
    <div class="col-sm-6">
        <img src="pictures/large/long-haired-girl.jpg" class="fullHeightImg"/>
    </div>
    <div class="col-sm-6">
        <p>Hello, and welcome to my online advent calendar. 
            I have drawn all the pictures you will see (apart from the one behind the title), either by hand or on the computer 
            using paint.</p>

        <p> Along with the current day's picture sometimes I might put up a riddle or poem on these pages. Othertimes you 
            might find a clip or a recording of me or my family playing something.
            Check the calendar each morning to view the new page.
            The answers to riddles will appear on the same screen the next day so be sure to check it to see if you got it right.</p>
    </div>
</div>