<div class="jumbotron">
    <h1>On the first day of christmas...</h1>
</div>
<div jd-home></div>

<h2>My mum, sister and I often make tablet for christmas so I thought you might be interested in the recipe.</h2>

<div class="panel panel-primary recipe">
    <div class="panel-body">
        <div>
            <h1 class="recipe-title">Tablet</h1>
            <h2>Ingredients</h2>
            <ul>
                <li>2lb granulated sugar</li>
                <li>3oz margarine</li>
                <li>235ml fresh milk</li>
                <li>1 tin sweetened condensed milk</li>
            </ul>

            <h2>Method</h2>
            <ol>
                <li>Melt the margarine in a pan.</li>
                <li>Add the fresh milk and then the sugar.</li>
                <li>When quite melted add the condensed milk.</li>
                <li>Boil for 15 minutes, stirring all the time, until it is a rich brown colour and thick.</li>
                <li>Take off the heat and beat the air out of it.</li>
                <li>Pour into a well buttered tin.</li>
                <li>Leave to cool and set.</li>
            </ol>
        </div>
    </div>
</div>

<img src="pictures/large/full-glass.png" class="fullHeightImg centreImg"/>