<div class="jumbotron">
    <h1>On the twelfth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-6 display-cell">
        <p>Turn your sound up</p>
        <audio controls>
            <source src="music/christmas-lullaby.mp3" type="audio/mpeg">
        </audio>

        <p style="margin-top: 30px;">This is another one of the songs sung by the Fair City Singers. 
            It is my sister's and my favourite song we sing.
        </p>
    </div>
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/anime-princess.png" class="fullWidthImg"/>
    </div>
</div>