<div class="jumbotron">
    <h1>On the eighteenth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-6 display-cell">
        <p>Turn your sound up</p>
        <audio controls>
            <source src="music/somewhere-over-the-rainbow.mp3" type="audio/mpeg">
        </audio>

        <p style="margin-top: 30px;">
            This was an piece from my grade 3 violin exam. 
            I used the piano accompaniment to create parts for another violin, played by Isobel, and a cello, played by Mum.
            It is from The Wizard of Oz and, for anyone who doesn't know it, it's called "Somewhere Over The Rainbow"
        </p>
    </div>
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/electric-girl.jpg" class="fullHeightImg"/>
    </div>
</div>