<div class="jumbotron">
    <h1>On the eighteenth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-6 display-cell">
        <p>Turn your sound up</p>
        <audio controls>
            <source src="music/eagles-lament.mp3" type="audio/mpeg">
        </audio>

        <p style="margin-top: 30px;">
            This is a piece that I composed myself. It's called "The Eagles Lament".
        </p>
    </div>
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/electric-girl.jpg" class="fullWidthImg"/>
    </div>
</div>