<div class="jumbotron">
    <h1>On the sixteenth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/coat-girl.jpg" class="fullHeightImg" id="coat-girl"/>
    </div>
    <div class="col-sm-6 display-cell">
        <p>Some of you may remember that I made an e-card last year. 
            This showed the start of my christmas programming and I hope I can do something else next year. 
            If you would like to see it click <a href="http://www.drurys.org/xmascard/default.html">here</a>.</p>
    </div>
</div>