<div class="jumbotron">
    <h1>On the nineteenth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 story">
        <p id="story-intro">In english at school we were reading a book called holes. 
            For homework we were asked to write a story about one of the characters.
            I decided to go for a christmas theme. So here it is.</p>
            <p>&nbsp;</p>
       <div jd-story></div>
       <p id="story-intro">To be continued...</p>
    </div>
    <div class="col-sm-1"></div>    
</div>
<div class="row">
    <div class="col-sm-12">
        <img src="pictures/large/lily.jpg" class="fullwidthImg"/>
    </div>
</div>