<div class="jumbotron">
    <h1>On the twenty-fourth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-12 display-cell verse">
        <p>Twas the night before Christmas, when all through the house</p>
        <p>Not a creature was stirring, not even a mouse.</p>
        <p>The stockings were hung by the chimney with care,</p>
        <p>In hopes that St Nicholas soon would be there.</p>
    </div>
</div>
<div class="row display-table">    
    <div class="col-sm-12 display-cell">
        <img src="pictures/large/anime-princess.png" class="fullHeightImg img-border"/>
    </div>
</div>