<div class="jumbotron">
    <h1>On the twenty-first day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 story">
        <p class="story-intro">Here is the second half of the story from the 19th. I hope you enjoy!</p>
            <p>&nbsp;</p>
       <div jd-story path="english-story-2.html"></div>
       <p class="story-intro">The end</p>
    </div>
    <div class="col-sm-1"></div>    
</div>
<div class="row">
    <div class="col-sm-12">
        <img src="pictures/large/twin-plaits.jpg" class="fullwidthImg"/>
    </div>
</div>