<div ng-controller="riddleController">
    <div class="jumbotron">
        <h1>On the second day of christmas...</h1>
    </div>
    <h2 class="success" ng-show="messages.success">{{messages.success}}</h2>
    <h2 class="error" ng-show="messages.error">{{messages.error}}</h2>
    <div jd-home></div>
    <div class="row display-table">
        <div class="col-sm-6 display-cell verse">
            <p>I'm made of darkness,</p>
            <p>Though I cannot survive there.</p>
            <p>I need light to live,</p>
            <p>But I'm always running from it.</p>
            <p>What am I?</p>
            <button class="btn btn-default" ng-click="giveAnswer()" ng-hide="showAnswer == true">Show Answer</button>
            <p ng-show="showAnswer == true">Answer: A shadow</p>
            <h2 class="alert alert-info" ng-show="messages.info">{{messages.info}}</h2>
        </div>
        <div class="col-sm-6 display-cell">
            <img src="pictures/large/side-view-girl-coloured.png" class="fullHeightImg"/>
        </div>
    </div>
</div>