<div ng-controller="day25Controller">
    <div class="jumbotron">
        <h1>Merry Christmas!!!</h1>
    </div>
    <div jd-home></div>
    <div class="row">
        <div class="col-sm-12">
            <h1 id="christmasHeading"><b>Open your present</b></h1>
            <img src="pictures/large/present.png" ng-hide="presentOpened == true" ng-click="openPresent()" class="centreImg"/>
            <img src="pictures/large/hand.jpg" ng-show="presentOpened == true" class="centreImg"/>
        </div>
    </div>
</div>