<div class="jumbotron">
    <h1>On the second day of christmas...</h1>
</div>
<div class="row display-table">
    <div class="col-sm-6 display-cell verse">
        <p>I'm made of darkness,</p>
        <p>Though I cannot survive there.</p>
        <p>I need light to live,</p>
        <p>But I'm always running from it.</p>
        <p>What am I?</p>
    </div>
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/side-view-girl-coloured.png" class="fullHeightImg"/>
    </div>
</div>