<div class="jumbotron">
    <h1>On the twenty-fourth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row">
    <div class="col-sm-8 verse">
        <p>Twas the night before christmas, when all through the house</p>
        <p>Not a creature was stirring, not even a mouse.</p>
        <p>The stockings were hung by the chimney with care,</p>
        <p>In the hopes that St. Nicholas soon would be there.</p>
        <p>The children were nestled all snug in their beds,</p>
        <p>While visions of sugar plums danced in their head.</p>
        <p>And mamma in her 'kerchief, and I in my cap,</p>
        <p>Had just settled down for a long winters nap.</p>
        <p>When out on the lawn there arose such a clatter,</p>
        <p>I spang from my bed to see what was the matter.</p>
        <p>Away to the window I flew like a flash,</p>
        <p>Tore down the shutter and threw up the sash.</p>
        <p>The moon on the breast of the new-fallen snow</p>
        <p>Gave the lustre of mid-day to objects below.</p>
        <p>When, what to my wondering eyes should appear,</p>
        <p>But a miniature sleigh, and eight tiny reindeer.</p>
        <p>With a little old driver, so lively and quick,</p>
        <p>I knew in a moment it must be St Nick.</p>
        <p>More rapid than eagles his coursers they came,</p>
        <p>And he whistled, and shouted, and called them by name!</p>
        <p>"Now, Dasher! now, Dancer! now, Prancer and Vixen!</p>
        <p>On, Comet! On, Cupid! on, Donder and Blitzen!</p>
        <p>To the top of the porch! to the top of the wall!</p>
        <p>Now dash away! Dash away! Dash away all!"</p>
        <p>As dry leaves that before the wild hurricane fly,</p>
        <p>When they meet with an obstacle, mount to the sky.</p>
        <p>So up to the house-top the coursers they flew,</p>
        <p>With the sleigh full of Toys, and St Nicholas too.</p>
        <p>And then, in a twinkling, I heard on the roof</p>
        <p>The prancing and pawing of each little hoof.</p>
        <p>As I drew in my head, and was turning around,</p>
        <p>Down the chimney St Nicholas came with a bound.</p>
        <p>He was dressed all in fur, from his head to his foot,</p>
        <p>And his clothes were all tarnished with ashes and soot.</p>
        <p>A bundle of Toys he had flung on his back,</p>
        <p>And he looked like a peddler, just opening his pack.</p>
        <p>His eyes-how they twinkled! his dimples how merry!</p>
        <p>His cheeks were like roses, his nose like a cherry!</p>
        <p>His droll little mouth was drawn up like a bow,</p>
        <p>And the beard of his chin was as white as the snow.</p>
        <p>The stump of a pipe he held tight in his teeth,</p>
        <p>And the smoke it encircled his head like a wreath.</p>
        <p>He had a broad face and a little round belly,</p>
        <p>That shook when he laughed, like a bowlful of jelly!</p>
        <p>He was chubby and plump, a right jolly old elf,</p>
        <p>And I laughed when I saw him, in spite of myself!</p>
        <p>A wink of his eye and a twist of his head,</p>
        <p>Soon gave me to know I had nothing to dread.</p>
        <p>He spoke not a word, but went straight to his work,</p>
        <p>And filled all the stockings, then turned with a jerk.</p>
        <p>And laying his finger aside of his nose,</p>
        <p>And giving a nod, up the chimney he rose!</p>
        <p>He sprang to his sleigh, to his team gave a whistle,</p>
        <p>And away they all flew like the down of a thistle.</p>
        <p>But I heard him exclaim, as he drove out of sight,</p>
        <p>"Merry Christmas to all, and to all a good-night!"</p>
    </div>
        <div class="col-sm-4">
        <p style="margin-top: 30px;">Here is the poem if you want to listen to it.</p>
        <audio controls>
            <source src="music/the-night-before-christmas.mp3" type="audio/mpeg">
        </audio>

    </div>
</div>
<div>
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/angry-sad-anime-face.png" class="fullWidthImg"/>
    </div>
</div>