<div class="jumbotron">
    <h1>On the third day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row">
    <div class="col-sm-12 full-size">
        <img src="pictures/large/anime-eye.png" class="fullHeightImg centreImg"/>
    </div>
</div>
<div class="row display-table">
    <div class="col-sm-12 display-cell">
        <p>For anyone who was wondering, the picture on the front of the doors 
        
        <img src="pictures/small/robot-head.png" class="float-left"/>
        is a drawing of a robot head from the anime "Laputa Castle in the Sky".
        <img src="pictures/large/laputa.jpg" class="float-right"/>
        This is one of my favourite films. Studio Ghibli, the studio which made it, have made many more and I have them all.</p>
        <p>All of the faces you will see that I've drawn are in this style. I try to copy faces from anime I've seen or look some up online for me to copy.
           Quite a few of them I've not copied and have used techniques that I've learnt to create my own faces with their own personality.
           Some of them I have done on the computer and some I have drawn by hand.
        </p>
    </div>
</div>