<div class="jumbotron">
    <h1>On the seventh day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-6 display-cell">
        <p>Turn your sound up</p>
        <audio controls>
            <source src="music/carol-of-the-bells.mp3" type="audio/mpeg">
        </audio>

        <p style="margin-top: 30px;">This is sung by the Fair City Singers. My sister, Isobel, sang in this recording and is part of the choir.
            I now sing with them as well and enjoy it a lot.
        </p>
    </div>
    <div class="col-sm-6 display-cell">
        <img src="pictures/large/angry-sad-anime-face.png" class="fullHeightImg"/>
    </div>
</div>
