<div class="jumbotron">
    <h1>On the eighth day of christmas...</h1>
</div>
<div jd-home></div>
<div class="row display-table">
    <div class="col-sm-12 display-cell">
        <p>I have decided to let you create a page. On the twentieth I will use your ideas to create a page.</p>
        <img src="pictures/large/20.jpg" class="float-right"/> 
        <p>Just email me your thoughts and I will use them to create day 20.
            It could be anything. A song, a picture, a quote, a riddle, anything. I will try my best to make your idea possible but I won't be able to achieve everything.
            Have fun thinking up the best possible page and make sure I hear about it.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 display-cell">
        <img src="pictures/large/purple-flower.jpg" class="fullHeightImg"/>
    </div>
</div>