.jd-cell {
    margin: 0px;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    background-color: lightgray;
}
.jd-cell-open {
    background-color: white;
}
.jd-cell-exploded {
    background-color: red;
}
.jd-cell-mined {
    background-image: url("mine.png");
    background-size: 20px 20px;
}
.jd-cell-marked {
    background-color: white;
    background-image: url("flag.png");
    background-size: 20px 20px;
}
.jd-cell-bad-marked {
    background-color: white;
    background-image: url("cross.png");
    background-size: 20px 20px;
}
td {
    text-align: center;
}

body {
    background-image: url("/Opas-birthday/happy-birthday.jpg");
}

h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 75px;
}

table {
    height: 200px;
    width: 200px;
    margin: auto;
}

.instructions-title {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.instructions {
    font-size: 25px;
    text-align: center
}

.instructions-background {
    background-color: rgba(255, 255, 255, 0.6);
}

.gameEndedMessage {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}