.warning {
    color: orange;
}
.success {
    color: green;
}
.error {
    color: red;
}

.myAdventCell img {
    border: solid 10px black;
}

.jumbotron {
    background-image: url('pictures/totoro.jpg');
    background-size: contain;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fullHeightImg {
    height: 100%;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.display-table {
    display: table;
    table-layout: fixed;
}
.display-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.verse p{
    white-space: nowrap;
}
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.indicator, .guess, .peg {
    height: 20px;
    width:20px;
    margin: 5px;
    padding: 0px;
    border:1px solid black;
}

.separator {
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 1px;
    border: 0px;
}

.peg {
    float:left;
}

.selected {
    background-color: c; 
    border-width: 4px;
    height: 25px;
    width:25px;
}

.video-responsive {
    width: 100%;
    height: auto;
}

.clickable:hover {
    cursor: pointer;
}

.float-right {
    float: right;
    height: 200px;
    margin: 10px;
}

.float-left {
    float: left;
    height: 200px;
    margin: 10px;
}

.centreImg {
    display: block;
    margin: auto;
}

div.full-size {
    width: 100%;
}